.tipo9{
    font-size: 100%;
    background-color: #bd2929;
   color:white
;}
.tipo10{
    font-size: 100%;
    background-color: #6490be;
   color:white
}
.tipo11{
    font-size: 100%;
    background-color: #fff1b6;
   color:rgb(0, 0, 0)
}
.tipo12{
    font-size: 100%;
    background-color: #163659;
   color:white}

.tipo13{
    font-size: 100%;
    background-color: #e0bdbd;
   color:rgb(0, 0, 0)}

.tipo1{
    font-size: 100%;
    background-color: #bd534b;
   color:white
}
.tipo2{
    font-size: 100%;
    background-color: #0b411b;
   color:white
}
.tipo3{
    font-size: 100%;
    background-color: #2c8a48;
   color:white
}